.venv/
venv/
*__pycache__/
*.pyc
.DS_Store
*.xlsx
testes/
.vscode/
*.build/
*.dist/
*build/
dist/
__pypackages__/
*.spec
*.log
*.exe
*.pyd
*.dll
*.so
*.dylibs
*.out
*.o
*.obj
*.lib
*.psd
*.xcf
*.ai
*_backup.*
*_old.*
Scalc.spec
Scalc.build
Scalc.dist
Scalc.exe
Scalc